<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br>

		<form action="/news/save" method="post">
			<label>Título</label>
			<input type="text" id="title" name="title" placeholder="Título da notícia">
			<br>
			<label>Resumo</label>
			<input type="text" id="summary" name="summary" placeholder="Resumo da notícia">
			<br>
			<label>Autor(a)</label>
			<input type="text" id="author" name="author" placeholder="Autor da notícia">
			<br>
			<label>Data</label>
			<input type="date" id="notice_date" name="notice_date" placeholder="Data da notícia">
			<br>
			<label>Notícia</label>
			<textarea name="new" id="new" cols="30" rows="5"></textarea>
			<br>
			<input type="submit" value="Enviar">
		</form>

	</body>
</html>