<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="utf-8" />
		<title>Notícia</title>
	</head>

	<body>

		<h1>Notícia</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Título</td>
				<td>Notícia</td>
			</tr>
			<tr>
				<td><%= singleNew[0].new_id %></td>
				<td><%= singleNew[0].title %></td>
				<td><%= singleNew[0].new %></td>
			</tr>
		</table>

	</body>

</html>